<div class="todo-container">
  <div class="todo-box ali">
    <h2>Lista de Tarefas</h2>
 
    <!-- Botão para abrir o modal de adição de tarefa -->
    <button class="btn btn-add-task" (click)="openModal()">Adicionar Nova Tarefa</button>

    <!-- Exibir mensagem se não houver tarefas -->
    <p *ngIf="tasks.length === 0" class="no-tasks-message">Nenhuma tarefa registrada.</p>


    <!-- Lista de tarefas paginada -->
    <ul class="task-list" *ngIf="tasks.length > 0">
      <li
        class="task-item"
        *ngFor="let task of paginatedTasks"
        [ngClass]="{'completed': task.completed}"
      >
        <div class="task-content">
          <span class="task-title">{{ task.title }}</span>
          <p class="task-description">{{ task.description }}</p>
        </div>
        <div class="task-actions">
          <button class="btn-complete" (click)="completeTask(task)">
            {{ task.completed ? 'Concluído' : 'Concluir' }}
          </button>
          <button class="btn-edit" (click)="editTask(task)" [disabled]="task.completed">Editar</button>
          <button class="btn-remove" (click)="removeTask(task)">Remover</button>
        </div>
      </li>
    </ul>

    <!-- Controles de paginação -->
    <div class="pagination" *ngIf="tasks.length > 0">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>

    <!-- Modal para adicionar nova tarefa -->
    <div class="modal" [class.open]="isModalOpen">
      <div class="modal-content">
        <h3> Tarefa</h3>
        <form [formGroup]="modalForm" (ngSubmit)="addTask()">
          <div class="form-group">
            <input formControlName="taskTitle" type="text" placeholder="Título da Tarefa" />
          </div>
          <div class="form-group">
            <textarea formControlName="taskDescription" placeholder="Descrição da Tarefa"></textarea>
          </div>
          <button type="submit" [disabled]="modalForm.invalid">Adicionar</button>
          <button type="button" (click)="closeModal()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
