<div class="todo-container">
  <div class="todo-box">
    <h2 class="todo-title">Lista de Tarefas</h2>

    <button class="btn btn-add-task" (click)="instanceTask(taskModal)">Adicionar Tarefa</button>

    <h3 *ngIf="!paginatedTasks || paginatedTasks?.items?.length === 0" class="no-tasks-message">Nenhuma tarefa registrada.</h3>

    <ul class="task-list" *ngIf="paginatedTasks && paginatedTasks.items.length > 0">
      <li class="task-item" *ngFor="let task of paginatedTasks.items" [ngClass]="{'completed': task.completed}">
        <div class="task-content">
          <span class="task-title">{{ task.title }}</span>
          <p class="task-description">{{ task.description }}</p>
        </div>
        <div class="task-actions">
          <button class="btn-complete" (click)="completeTask(task)">
            {{ task.completed ? 'Reabrir' : 'Concluir' }}
          </button>
          <button class="btn-edit" [ngClass]="{'completed-action': task.completed}" (click)="instanceTask(taskModal, true, task)" [disabled]="task.completed">Editar</button>
          <button class="btn-remove" [ngClass]="{'completed-action': task.completed}" (click)="removeTask(task)">Remover</button>
        </div>
      </li>
    </ul>

    
    <div class="pagination" *ngIf="paginatedTasks && paginatedTasks.items.length > 0">
      <button class="btn-pagination" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button class="btn-pagination" (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>
  </div>
</div>

<ng-template #taskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ isEditMode ? 'Editar Tarefa' : 'Adicionar Tarefa' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span> 
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="addTask(modal)">
      <div class="form-group">
        <input formControlName="taskTitle" type="text" placeholder="Título da Tarefa" class="form-control" />
      </div>
      <div class="form-group">
        <textarea formControlName="taskDescription" placeholder="Descrição da Tarefa" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="modalForm.invalid">{{ isEditMode ? 'Salvar' : 'Adicionar' }}</button>
      </div>
    </form>
  </div>
</ng-template>
