@import '../../../styles.scss';

.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lighten($primary-color, 30%);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: $radius;
    color: $secondary-color;
    min-height: 150px;
    transition: background-color 0.3s ease;
    word-wrap: break-word;
    
    &.completed {
      background-color: darken($primary-color, 25%);
    }
  }
  
  .task-content {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
  
  .task-title {
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  
  .task-description {
    word-wrap: break-word;
    max-height: 4.5rem;
    overflow-y: auto;
  }
  
  .task-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .task-actions button {
    flex: 1;
    padding: 0.5rem;
    border-radius: $radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .task-actions {
      flex-direction: column;
    }
  }
  
  .btn-complete {
    background-color: lighten($primary-color, 20%);
    color: $secondary-color;
  
    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
  
  .btn-edit {
    background-color: $secondary-color;
    color: $primary-color;
  
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
  
  .btn-remove {
    background-color: darken($primary-color, 10%);
    color: $secondary-color;
  
    &:hover {
      background-color: darken($primary-color, 20%);
    }
  }
  
  .completed-action {
    text-decoration: line-through;
  }
  