<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Minha App</a>

    <!-- Alinha as opções à esquerda -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Se o usuário não estiver logado, mostrar Login e Registrar -->
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register">Registrar</a>
        </li>

        <!-- Se o usuário estiver logado, mostrar Lista de Tarefas e Sair -->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/todo-list">Lista de Tarefas</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>