/* Navbar fixa no topo */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para melhorar a visibilidade */
  }
  
  /* Garante que o conteúdo abaixo da navbar ocupe todo o espaço restante */
  .router-outlet-container {
    min-height: calc(100vh - 56px); /* Altura da tela menos a altura da navbar (56px é o valor padrão do Bootstrap) */
    padding-top: 56px; /* Garante que o conteúdo não fique sobreposto pela navbar */
    display: flex;
    flex-direction: column;
  }
  
  /* Exemplo de estilo para conteúdo com scroll interno */
  .page-content {
    flex-grow: 1; /* Garante que a página ocupe o máximo de altura disponível */
    overflow-y: auto; /* Scroll apenas quando o conteúdo exceder o espaço disponível */
    padding: 1rem;
    box-sizing: border-box;
  }
  
  /* Ajusta o valor do topo dinamicamente em resoluções maiores */
  @media (min-width: 992px) {
    .navbar {
      height: 70px;
    }
  
    .router-outlet-container {
      padding-top: 70px; /* Ajusta conforme a altura da navbar */
      min-height: calc(100vh - 70px);
    }
    .nav-item{
        cursor: pointer;
    }
  }
  