@import '../../../styles.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.register-container {
  background-color: $primary-color;  
  height: 100vh;  
  @include flex-center;  

  .register-box {
    width: 350px;
    background-color: $secondary-color;  
    border-radius: $radius;  
    box-shadow: $box-shadow;  
    padding: 2rem;  
    
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;  
    }

    form {
      .form-group {
        margin-bottom: 1rem;  
      }

      button {
        width: 100%;  
        margin-top: 1rem; 

        &.btn-primary {
          background-color: darken($primary-color, 10%);  
          
          &:hover{
            background-color: darken($primary-color, 20%);  
          }
        }

        &.btn-secondary {
          background-color: lighten($primary-color, 10%); 
          &:hover{
            background-color: $primary-color;  
          }
        }
      }
    }
  }
}
